<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ponti-Transmilenio</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>

<body class="index-background">
    <h1 class="titulo">Ponti-Transmilenio</h1>

    <div class="fondo">
        <h2><span>Iniciar Sesión</span></h2>
        <form>
            <div class="txtUsername">
                <label for="username">Usuario:</label><br>
                <input type="text" id="user-login" name="username">
            </div>

            <div class="txtPassword">
                <label for="userpass">Contraseña:</label><br>
                <input type="password" id="pass-login" name="userpass">
                <br><input class="login-button" type="submit" value="Ingresar">
            </div>
            <div class="div_inline">
                <a href="register.html" class="link_login">Ingreso</a>
            </div>  
        </form>

    </div>

</body>

</html>